
body {
    font-family: sans-serif;
}

.poh {
    font-size: 110%;
    border-left: 3px solid black;
    border-right: 3px solid black;
    padding-right: 35px;
    padding-left: 35px;
    margin : 30px;
}

#wiki {
    font-size: 140%;
    text-align: center;
}

.first_border {
    border: 1px solid black;
    text-align: center;
    padding-top: 20px;
    border-radius: 50px;
}

.first {
    padding-top: 20px;
    text-indent: 9.5px;    
}

.sec_border {
    border: 1px solid black;
    width: 500px;
    padding : 20px 25px;
    text-align: left;
    display: inline-block;
    border-radius: 50px; 
}

.hh {
    padding-top: 20px;
    text-indent: 9.5px;
}

.per {
    text-indent: 50px;
}

.pict1 {
    display: inline-block;
    margin-left: 115px;
}

.cols {
    margin: 20px 80px 25px;
    border: 1px solid black;
    flex-basis: 50%;
    border-radius: 50px; 
}

.col {
    padding: 15px 25px;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.footer {
    margin-top: auto;
    font-size: 80%;
}

footer p { 
    text-indent: 115px;
}

.footer_2 {
    padding-top: 10px;
}

.enq {
    font-size: 80%;
}

.menu {
    list-style-type: none;
    text-align: right;
    padding: 0 30px;
}

.menu a {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    display: inline-block;
    padding: 10px 20px;
    display: inline-block;
    border-bottom: 5px solid black;
}
  
.menu li {
    display: inline;
    padding-left: 20px;
}

a:link {text-decoration: none;}
a:visited {text-decoration: underline; color:rgb(135, 33, 145);}
a:hover {text-decoration:underline;}
